/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
	.relax-sect .left-block {
		background-position: 320px;
	}
}
@media only screen and (max-width: 1200px) {
	.relax-sect .left-block {
		background-position: 280px;
	}
}
@media only screen and (max-width: 1050px) {
	.latest-sect .content-latest {
		background-position: 295px -20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	.relax-sect .left-block {
		display: none;
	}
	.relax-sect .right-block {
		width: 100%;
		max-height: none;
	}

	.latest-sect .content-latest {
		margin-left: 30px;
		background-position: 335px 5px;
	}
	.brands-sect a {
		padding: 0 1%;
	}
	.footer-sect .container-footer {
		padding: 0 20px;
	}
	.copyright-sect .block-copyright {
		text-align: center;
	}
}
@media only screen and (max-width: 768px) {
	.brands-sect a {
		display: inline-block;
		width: 45%;
		margin-bottom: 15px;
	}
	.awesome-sect .comment-block .img-block {
		margin-right: 30px;
		width: 100%;
		text-align: center !important;
	}
	.awesome-sect .comment-block .text-block {
		width: 100%;
		margin-top: 35px;
	}
	.awesome-sect .comment-block:nth-child(even) .text-block::after {
		border: 20px solid transparent;
		content: '';
		position: absolute;
		bottom: 170px;
		border-bottom: 35px solid #F9F9F9;
		right: 47%;
	}
	.awesome-sect .comment-block:nth-child(odd) .text-block::after {
		border: 20px solid transparent;
		content: '';
		position: absolute;
		bottom: 170px;
		border-bottom: 35px solid #F9F9F9;
		left: 47%;
	}
	.footer-sect .container-footer .info-block {
		width: 100%;
		margin-left: 30px;
		padding: 60px 3% 0 0;
	}
	.footer-sect .container-footer .info-block h5 {
		text-align: center;
	}
	header .container {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}
@media only screen and (max-width: 675px) {
	header .container nav ul li {
		display: inline-block;
		margin: 0 10px;
	}
	.creative-sect h1 {
		font-size: 40px;
	}
	.relax-sect .right-block .container-right {
		padding-left: 20px;
	}
	header .container nav ul li {
		margin: 0;
		font-size: 14px;
		padding: 0 3%;
	}
	header .container nav {
		float: none;
		text-align: center;
		margin-top: 35px;
		margin-bottom: 0;
	}
	header .container .logo {
		float: none;
		text-align: center;
	}
	header .container {
		padding-bottom: 20px;
	}
	.service-sect .blocks {
		width: 100%;
	}
	.service-sect h3 {
		font-size: 35px;
	}
	.culture-sect .block-culture p {
		max-width: 300px;
		margin: 0 auto;
	}

	.copyright-sect .block-copyright {
		width: 100%;
		margin-bottom: 45px;
		padding:0 15px;
		text-align: center;
	}
	.copyright-sect .markup-block {
		margin-bottom: 0;
	}
	.culture-sect .block-culture {
		width: 100%;
	}
	.culture-sect .border {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	header .container nav ul li {
		padding: 0 1%;
	}
}
@media only screen and (max-width: 375px) {
	header .container nav {
		display: none;
		margin-top: 20px;
	}
	.toggle-menu{
		display: block;
	}
	header .container nav ul li {
		display: block;
		text-align: left;
		padding: 10px;
	}
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */
@media only screen and (min-width: 376px) {
	.toggle-menu {
		display: none;
	}
}
@media only screen and (min-width: 675px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1368px) {
	
}